<mat-toolbar class="bgcolor">
  <button [routerLink]="['/dashboard']"
  routerLinkActive="active"
    mat-icon-button
    class="example-icon"
    aria-label="Menu"
  >
    <mat-icon>shop</mat-icon>
  </button>

  <span class="marca">GREGON</span>

  <span class="example-spacer"></span>
  <ng-container *ngIf="!this.authService.loggedIn() else logout">
    <button [routerLink]="['/login']" 
    [routerLink]="['/login']"
      mat-button
      class="example-icon"
      aria-label="Login"
  >
    Login
    </button>

    <button [routerLink]="['/register']" 
    [routerLink]="['/register']"
      mat-button
      class="example-icon"
      aria-label="Register"
    >
    Register
    </button>
  </ng-container>

  <ng-template #logout >
    <ng-container *ngIf="this.router.url == '/dashboard'">
    <button (click)="this.authService.logout()"
      mat-button
      class="example-icon"
      aria-label="Logout"
  >
    Logout
    </button>
  </ng-container>
  </ng-template>

  <ng-container *ngIf="this.authService.isAdmin()">
  <button routerLink="/dashboard/products"
    mat-button
    class="sizeWord"
    aria-label="Example icon-button with heart icon"
  >
    Productos
  </button>

  <button routerLink="/dashboard/stores"
    mat-button
    class="sizeWord"
    aria-label="Example icon-button with heart icon"
  >
    Tiendas
  </button>
</ng-container>

  <!-- <button [routerLink]="['/contact']" 
    mat-button
    class="sizeWord"
    aria-label="Contact"
  >
   Contacto
  </button> -->
  <app-cart class="mouseHover" (click)="goToCheckout()"></app-cart>
</mat-toolbar>
