
.bgcolor {
  background-color:rgb(97, 167, 236);
  color:aliceblue;
  font-size: 15px;
}

.marca{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mouseHover:hover{
  cursor:pointer;
  
}

.sizeWord{
  font-size: 20px;
}