<mat-toolbar class="bgcolor">
  <button [routerLink]="['/dashboard']"
  routerLinkActive="active"
    mat-icon-button
    class="example-icon"
    aria-label="Menu"
  >
    <mat-icon>shop</mat-icon>
  </button>

  <span class="marca">Gregon</span>

  <span class="example-spacer"></span>


  <button routerLink="/dashboard/products"
    mat-button
    class="sizeWord"
    aria-label="Example icon-button with heart icon"
  >
    Productos
  </button>

  <button routerLink="/dashboard/stores"
    mat-button
    class="sizeWord"
    aria-label="Example icon-button with heart icon"
  >
    Tiendas
  </button>

  <button [routerLink]="['/contact']" 
    mat-button
    class="sizeWord"
    aria-label="Contact"
  >
   Contacto
  </button>
  <app-cart class="mouseHover" (click)="goToCheckout()"></app-cart>
</mat-toolbar>
