<app-navbar></app-navbar>
<div class="container">
    <form #checkoutForm="ngForm">

       <mat-form-field class="form__element">
        <input matInput placeholder="Nombre" required
       [(ngModel)]="model.name" name="name" 
       #name="ngModel"/>
           <mat-error *ngIf="!name.valid || name.pristine">
               El nombre es <span>obligatorio</span>
           </mat-error>
       </mat-form-field>

       <mat-radio-group class="form__element">
           <p>Elija una opción:</p>
           <mat-radio-button class="separacion" value="pickup" (change)="onPickupOrDelivery(false)" >
           Retirar de la Tienda
           </mat-radio-button>
           <mat-radio-button value="delivery" (change)="onPickupOrDelivery(true)"checked>
           Envío a su domicilio
           </mat-radio-button>
       </mat-radio-group>

       <ng-container *ngIf="isDelivery;else showStores">
        <mat-form-field class="form__element">
            <input matInput placeholder="Dirección de su domicilio" required
            [(ngModel)]="model.shippingAddress" name="shippingAddress" 
            #shippingAddress="ngModel"/>
            <mat-error *ngIf="!shippingAddress.valid || shippingAddress.pristine">
                La direccion es <span>obligatoria</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form__element">
            <input matInput placeholder="Ciudad" required
            [(ngModel)]="model.city" name="city" 
            #city="ngModel"/>
            <mat-error *ngIf="!city.valid || city.pristine">
                El nombre de la ciudad es <span>obligatorio</span>
            </mat-error>
        </mat-form-field>
    </ng-container>
    
    <ng-template #showStores>
        <mat-form-field class="form__element">
        <mat-label>Seleccione</mat-label>
        <mat-select name="store" #store="ngModel" [(ngModel)]="model.store" required>
            <mat-option [value]="tienda" *ngFor="let tienda of stores">
                {{tienda.name}} - {{tienda.openingHours}}
            </mat-option> <!-- en value si quisiera guardar la info en una bd podria pasarle el id o nombre de la tienda -->
        </mat-select>
            <mat-error *ngIf="!store.valid || store.pristine">
                La tienda es obligatoria
            </mat-error>
        </mat-form-field>
    </ng-template>
    </form>
</div>      

<app-details></app-details>


<div class="container__button">
    <button mat-raised-button class="buttonCancel"
    type="button" (click)="onReset()">
    Cancelar
    </button>
    <button [disabled]="!checkoutForm.form.valid" mat-raised-button class="buttonAcept"
    type="submit" (click)="onSubmit(checkoutForm)">
    Aceptar
    </button>
</div>