  <article class="login">
  <form [formGroup]="user" class="login__content" (submit)="signIn()">
    <mat-form-field appearance="outline" class="login__input">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email" placeholder="" />
    <mat-error *ngIf="user.get('email')?.hasError('required')">
      Ingresar el <strong>correo electrónico</strong>
    </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="login__input">
      
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" placeholder="" /> 
      <mat-error *ngIf="user.get('email')?.hasError('required')">
        Ingresar la <strong>contraseña</strong>
      </mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" class="login__submit">Iniciar sesión</button>
    <div class="mensaje" *ngIf="messageError">{{ messageError }}</div>

    <section class="login__redirect">
      <a [routerLink]="['/register']"> Registrarse</a>
    </section>
  </form>
</article>
